@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
    font-family: 'Montserrat';
}

body,h1,h2 {
    margin:0px;
    padding:0px;
}

h1 {
    font-size:43.2px;
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-weight: 250;
    color: gray;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5px;
    margin-top: 30px;
}

footer {
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    color: #919191;
}

.main-box {
    width:732px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
    padding:30px;
    margin-top:30px;
    margin-bottom:30px;
}

.title-tag {
    text-align: right;
}

.sub-tag {
    font-weight: bold;
    font-size:19.2px;
    color:#7c7c7c;
}

.content {
    line-height: 19.2px;
}

section {
    margin-bottom:24px;
}

.desc-title {
    font-weight: bold;
    color: #282828;
    float: left;
}

.year-title {
    font-weight: bold;
    color: #282828;
    float: right;
}

.float-wrap {
    overflow: hidden;
}

.skills {
    padding-left: 16px;
    color:#282828;
}

.sns-icon {
    text-align: right;
}

.icon {
    width: 30px;
    padding-left: 5px;
}